@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="height:120px;">
    <br />
    <div class="col-md-8">
        <h2>Welcome</h2><br />
        <p class="lead">On this site you will find educational resources for your Studio classes. They include: text, iamges, audios and videos.</p><br />

    </div>
    <div class="col-md-4">
        <img src="~/Assets/YouthStudio.jpg" alt="" style="width:100%;" />
    </div>
</div>

